body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
}
.shadow {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.error-container {
  background-color: #ffdddd;
  border: 1px solid #f5c2c2;
  color: #a94442;
  padding: 20px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.description-box {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.description-box label {
  font-weight: bold;
  margin-bottom: 5px;
}

.description-box textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  resize: none;
}


.button {
  background-color: #28A745;
  align-self: center;
  margin-bottom: calc(0.5 * var(--minimal-blocksize));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  transition: background-color 0.3s, box-shadow 0.3s; 
}

.button:hover {
  background-color: #218838;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.button span {
  color: white;
  font-size: 18px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid black;
}

.back-arrow {
  transition: background-color 0.3s, transform 0.1s;
  cursor: pointer;
}

.back-arrow:hover {
  background-color: #0056b3;
}

.back-arrow:active {
  transform: scale(0.95);
}

.input-box {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-box:focus {
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  outline: none;
}

.fade-out {
  animation: fadeOut 3s forwards; /* 3s is the duration, adjust as needed */
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.clickable-text {
  color: #00aaff;  /* Light cyan-blue */
  cursor: pointer;
}

.clickable-text:hover {
  color: #0099cc;  /* Slightly darker cyan-blue for hover */
}

.CircularProgressbar {
  width: 100% !important;
  position: absolute !important; 
}

svg:not(:root){
  overflow: visible !important;
}

.clickable-div {
  display: inline-flex;
  width:fit-content;
  padding: 10px;
  padding-left: 0px;
  margin-left: 10px;
  align-items: center;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.clickable-div:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}


[data-color-mode*='dark'] .w-color-sketch {
  --sketch-background: #323232 !important;
}

[data-color-mode*='dark'] .w-color-swatch {
  --sketch-swatch-border-top: 1px solid #525252 !important;
}

[data-color-mode*='dark'] .w-color-block {
  --block-background-color: #323232 !important;
  --block-box-shadow: rgb(0 0 0 / 10%) 0 1px !important;
}

[data-color-mode*='dark'] .w-color-editable-input {
  --editable-input-label-color: #757575 !important;
  --editable-input-box-shadow: #616161 0px 0px 0px 1px inset !important;
  --editable-input-color: #bbb !important;
}

[data-color-mode*='dark'] .w-color-github {
  --github-border: 1px solid rgba(0, 0, 0, 0.2) !important;
  --github-background-color: #323232 !important;
  --github-box-shadow: rgb(0 0 0 / 15%) 0px 3px 12px !important;
  --github-arrow-border-color: rgba(0, 0, 0, 0.15) !important;
}

[data-color-mode*='dark'] .w-color-compact {
  --compact-background-color: #323232 !important;
}

[data-color-mode*='dark'] .w-color-material {
  --material-background-color: #323232 !important;
  --material-border-bottom-color: #707070 !important;
}

[data-color-mode*='dark'] .w-color-alpha {
  --alpha-pointer-background-color: #6a6a6a !important;
  --alpha-pointer-box-shadow: rgb(0 0 0 / 37%) 0px 1px 4px 0px !important;
}


.ColorPickerButton {
  margin-left: 0;
  margin-top: 5px;
  padding: 10px;
  width: 50%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}

.simple-input {
  background-color: rgb(40, 40, 40);
  color: white;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  box-sizing: border-box;
}

.simple-input:focus {
  outline: none;
  border-color: rgb(100, 200, 100);
}


.createButton {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: 'rgb(40, 40, 40)';
  border: 2px solid rgb(80, 80, 80);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: none;
}

.createButton:hover {
  box-shadow: 0 0 10px 2px white;
}