body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
}

.error-container {
  background-color: #ffdddd;
  border: 1px solid #f5c2c2;
  color: #a94442;
  padding: 20px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.description-box {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.description-box label {
  font-weight: bold;
  margin-bottom: 5px;
}

.description-box textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  resize: none;
}


.button {
  background-color: #28A745;
  align-self: center;
  margin-bottom: calc(0.5 * var(--minimal-blocksize));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  transition: background-color 0.3s, box-shadow 0.3s; 
}

.button:hover {
  background-color: #218838;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.button span {
  color: white;
  font-size: 18px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid black;
}

.back-arrow {
  transition: background-color 0.3s, transform 0.1s;
  cursor: pointer;
}

.back-arrow:hover {
  background-color: #0056b3;
}

.back-arrow:active {
  transform: scale(0.95);
}

.input-box {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-box:focus {
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  outline: none;
}

.fade-out {
  animation: fadeOut 3s forwards; /* 3s is the duration, adjust as needed */
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.clickable-text {
  color: #00aaff;  /* Light cyan-blue */
  cursor: pointer;
}

.clickable-text:hover {
  color: #0099cc;  /* Slightly darker cyan-blue for hover */
}